.container{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.box1{
    width: 100px;
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box2{
    width: 200px;
    background-color: lightblue;
}
.interior-box{
    color: white;
    background-color: black;
}