.container{
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}
.grid-1{
    background-color: lightblue;
}
.grid-2{
    background-color: lightpink;
}
.grid-3{
    background-color: lightblue;
}